<% if @posts.empty? %>
  There is no Post yet
<% else %>
  <% @posts.each do |post| %>
    <h2><%= post.title %></h2>
    <p><%= post.content %></p>
    <span><%= post.author_email %></span>
    <br/>
    <%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <br/>
  <% end %>
<% end %>
<br/>
<%= render 'layouts/shared/pagination', pagy: @pagy %>
<br/>
<%= link_to 'New Post', new_post_path %>
